mei/2013-11-05/Test.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2">
   <ns uri="http://www.music-encoding.org/ns/mei" prefix="mei"/>
   <pattern>
      <rule context="mei:accid">
         <assert test="local-name() = 'accid'">The element accid is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:actor">
         <assert test="local-name() = 'actor'">The element actor is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:address">
         <assert test="local-name() = 'address'">The element address is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:addrLine">
         <assert test="local-name() = 'addrLine'">The element addrLine is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:annot">
         <assert test="local-name() = 'annot'">The element annot is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:arranger">
         <assert test="local-name() = 'arranger'">The element arranger is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:artic">
         <assert test="local-name() = 'artic'">The element artic is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:author">
         <assert test="local-name() = 'author'">The element author is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:bibl">
         <assert test="local-name() = 'bibl'">The element bibl is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:biblList">
         <assert test="local-name() = 'biblList'">The element biblList is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:biblScope">
         <assert test="local-name() = 'biblScope'">The element biblScope is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:body">
         <assert test="local-name() = 'body'">The element body is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:caption">
         <assert test="local-name() = 'caption'">The element caption is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:castGrp">
         <assert test="local-name() = 'castGrp'">The element castGrp is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:castItem">
         <assert test="local-name() = 'castItem'">The element castItem is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:castList">
         <assert test="local-name() = 'castList'">The element castList is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:chord">
         <assert test="local-name() = 'chord'">The element chord is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:clef">
         <assert test="local-name() = 'clef'">The element clef is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:clefGrp">
         <assert test="local-name() = 'clefGrp'">The element clefGrp is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:composer">
         <assert test="local-name() = 'composer'">The element composer is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:creation">
         <assert test="local-name() = 'creation'">The element creation is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:custos">
         <assert test="local-name() = 'custos'">The element custos is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:date">
         <assert test="local-name() = 'date'">The element date is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:dir">
         <assert test="local-name() = 'dir'">The element dir is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:distributor">
         <assert test="local-name() = 'distributor'">The element distributor is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:dot">
         <assert test="local-name() = 'dot'">The element dot is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:dynam">
         <assert test="local-name() = 'dynam'">The element dynam is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:edition">
         <assert test="local-name() = 'edition'">The element edition is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:editor">
         <assert test="local-name() = 'editor'">The element editor is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:ending">
         <assert test="local-name() = 'ending'">The element ending is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:expansion">
         <assert test="local-name() = 'expansion'">The element expansion is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:extent">
         <assert test="local-name() = 'extent'">The element extent is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:funder">
         <assert test="local-name() = 'funder'">The element funder is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:fw">
         <assert test="local-name() = 'fw'">The element fw is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:genre">
         <assert test="local-name() = 'genre'">The element genre is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:group">
         <assert test="local-name() = 'group'">The element group is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:grpSym">
         <assert test="local-name() = 'grpSym'">The element grpSym is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:identifier">
         <assert test="local-name() = 'identifier'">The element identifier is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:imprint">
         <assert test="local-name() = 'imprint'">The element imprint is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:incip">
         <assert test="local-name() = 'incip'">The element incip is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:keyAccid">
         <assert test="local-name() = 'keyAccid'">The element keyAccid is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:keySig">
         <assert test="local-name() = 'keySig'">The element keySig is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:label">
         <assert test="local-name() = 'label'">The element label is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:layer">
         <assert test="local-name() = 'layer'">The element layer is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:layerDef">
         <assert test="local-name() = 'layerDef'">The element layerDef is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:lb">
         <assert test="local-name() = 'lb'">The element lb is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:librettist">
         <assert test="local-name() = 'librettist'">The element librettist is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:lyricist">
         <assert test="local-name() = 'lyricist'">The element lyricist is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:mdiv">
         <assert test="local-name() = 'mdiv'">The element mdiv is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:mei">
         <assert test="local-name() = 'mei'">The element mei is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:music">
         <assert test="local-name() = 'music'">The element music is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:name">
         <assert test="local-name() = 'name'">The element name is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:num">
         <assert test="local-name() = 'num'">The element num is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:p">
         <assert test="local-name() = 'p'">The element p is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:pad">
         <assert test="local-name() = 'pad'">The element pad is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:part">
         <assert test="local-name() = 'part'">The element part is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:parts">
         <assert test="local-name() = 'parts'">The element parts is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:pb">
         <assert test="local-name() = 'pb'">The element pb is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:pgDesc">
         <assert test="local-name() = 'pgDesc'">The element pgDesc is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:pgFoot">
         <assert test="local-name() = 'pgFoot'">The element pgFoot is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:pgFoot2">
         <assert test="local-name() = 'pgFoot2'">The element pgFoot2 is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:pgHead">
         <assert test="local-name() = 'pgHead'">The element pgHead is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:pgHead2">
         <assert test="local-name() = 'pgHead2'">The element pgHead2 is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:phrase">
         <assert test="local-name() = 'phrase'">The element phrase is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:physLoc">
         <assert test="local-name() = 'physLoc'">The element physLoc is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:publisher">
         <assert test="local-name() = 'publisher'">The element publisher is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:pubPlace">
         <assert test="local-name() = 'pubPlace'">The element pubPlace is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:recipient">
         <assert test="local-name() = 'recipient'">The element recipient is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:relatedItem">
         <assert test="local-name() = 'relatedItem'">The element relatedItem is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:rend">
         <assert test="local-name() = 'rend'">The element rend is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:repository">
         <assert test="local-name() = 'repository'">The element repository is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:resp">
         <assert test="local-name() = 'resp'">The element resp is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:respStmt">
         <assert test="local-name() = 'respStmt'">The element respStmt is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:rest">
         <assert test="local-name() = 'rest'">The element rest is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:role">
         <assert test="local-name() = 'role'">The element role is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:roleDesc">
         <assert test="local-name() = 'roleDesc'">The element roleDesc is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:sb">
         <assert test="local-name() = 'sb'">The element sb is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:score">
         <assert test="local-name() = 'score'">The element score is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:scoreDef">
         <assert test="local-name() = 'scoreDef'">The element scoreDef is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:section">
         <assert test="local-name() = 'section'">The element section is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:series">
         <assert test="local-name() = 'series'">The element series is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:space">
         <assert test="local-name() = 'space'">The element space is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:sponsor">
         <assert test="local-name() = 'sponsor'">The element sponsor is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:stack">
         <assert test="local-name() = 'stack'">The element stack is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:staff">
         <assert test="local-name() = 'staff'">The element staff is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:staffDef">
         <assert test="local-name() = 'staffDef'">The element staffDef is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:staffGrp">
         <assert test="local-name() = 'staffGrp'">The element staffGrp is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:syl">
         <assert test="local-name() = 'syl'">The element syl is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:tempo">
         <assert test="local-name() = 'tempo'">The element tempo is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:textLang">
         <assert test="local-name() = 'textLang'">The element textLang is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:title">
         <assert test="local-name() = 'title'">The element title is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:titlePage">
         <assert test="local-name() = 'titlePage'">The element titlePage is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:accessRestrict">
         <assert test="local-name() = 'accessRestrict'">The element accessRestrict is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:acqSource">
         <assert test="local-name() = 'acqSource'">The element acqSource is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:altId">
         <assert test="local-name() = 'altId'">The element altId is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:appInfo">
         <assert test="local-name() = 'appInfo'">The element appInfo is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:application">
         <assert test="local-name() = 'application'">The element application is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:audience">
         <assert test="local-name() = 'audience'">The element audience is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:availability">
         <assert test="local-name() = 'availability'">The element availability is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:captureMode">
         <assert test="local-name() = 'captureMode'">The element captureMode is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:carrierForm">
         <assert test="local-name() = 'carrierForm'">The element carrierForm is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:change">
         <assert test="local-name() = 'change'">The element change is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:changeDesc">
         <assert test="local-name() = 'changeDesc'">The element changeDesc is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:classCode">
         <assert test="local-name() = 'classCode'">The element classCode is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:classification">
         <assert test="local-name() = 'classification'">The element classification is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:condition">
         <assert test="local-name() = 'condition'">The element condition is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:contentItem">
         <assert test="local-name() = 'contentItem'">The element contentItem is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:contents">
         <assert test="local-name() = 'contents'">The element contents is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:context">
         <assert test="local-name() = 'context'">The element context is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:correction">
         <assert test="local-name() = 'correction'">The element correction is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:dimensions">
         <assert test="local-name() = 'dimensions'">The element dimensions is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:editionStmt">
         <assert test="local-name() = 'editionStmt'">The element editionStmt is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:editorialDecl">
         <assert test="local-name() = 'editorialDecl'">The element editorialDecl is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:encodingDesc">
         <assert test="local-name() = 'encodingDesc'">The element encodingDesc is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:ensemble">
         <assert test="local-name() = 'ensemble'">The element ensemble is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:event">
         <assert test="local-name() = 'event'">The element event is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:eventList">
         <assert test="local-name() = 'eventList'">The element eventList is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:exhibHist">
         <assert test="local-name() = 'exhibHist'">The element exhibHist is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:fileChar">
         <assert test="local-name() = 'fileChar'">The element fileChar is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:fileDesc">
         <assert test="local-name() = 'fileDesc'">The element fileDesc is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:fingerprint">
         <assert test="local-name() = 'fingerprint'">The element fingerprint is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:hand">
         <assert test="local-name() = 'hand'">The element hand is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:handList">
         <assert test="local-name() = 'handList'">The element handList is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:history">
         <assert test="local-name() = 'history'">The element history is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:incipCode">
         <assert test="local-name() = 'incipCode'">The element incipCode is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:incipText">
         <assert test="local-name() = 'incipText'">The element incipText is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:inscription">
         <assert test="local-name() = 'inscription'">The element inscription is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:instrumentation">
         <assert test="local-name() = 'instrumentation'">The element instrumentation is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:instrVoice">
         <assert test="local-name() = 'instrVoice'">The element instrVoice is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:instrVoiceGrp">
         <assert test="local-name() = 'instrVoiceGrp'">The element instrVoiceGrp is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:interpretation">
         <assert test="local-name() = 'interpretation'">The element interpretation is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:key">
         <assert test="local-name() = 'key'">The element key is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:language">
         <assert test="local-name() = 'language'">The element language is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:langUsage">
         <assert test="local-name() = 'langUsage'">The element langUsage is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:meiHead">
         <assert test="local-name() = 'meiHead'">The element meiHead is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:mensuration">
         <assert test="local-name() = 'mensuration'">The element mensuration is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:meter">
         <assert test="local-name() = 'meter'">The element meter is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:normalization">
         <assert test="local-name() = 'normalization'">The element normalization is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:notesStmt">
         <assert test="local-name() = 'notesStmt'">The element notesStmt is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:otherChar">
         <assert test="local-name() = 'otherChar'">The element otherChar is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:perfMedium">
         <assert test="local-name() = 'perfMedium'">The element perfMedium is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:physDesc">
         <assert test="local-name() = 'physDesc'">The element physDesc is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:physMedium">
         <assert test="local-name() = 'physMedium'">The element physMedium is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:plateNum">
         <assert test="local-name() = 'plateNum'">The element plateNum is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:playingSpeed">
         <assert test="local-name() = 'playingSpeed'">The element playingSpeed is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:price">
         <assert test="local-name() = 'price'">The element price is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:projectDesc">
         <assert test="local-name() = 'projectDesc'">The element projectDesc is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:provenance">
         <assert test="local-name() = 'provenance'">The element provenance is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:pubStmt">
         <assert test="local-name() = 'pubStmt'">The element pubStmt is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:revisionDesc">
         <assert test="local-name() = 'revisionDesc'">The element revisionDesc is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:samplingDecl">
         <assert test="local-name() = 'samplingDecl'">The element samplingDecl is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:scoreFormat">
         <assert test="local-name() = 'scoreFormat'">The element scoreFormat is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:segmentation">
         <assert test="local-name() = 'segmentation'">The element segmentation is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:seriesStmt">
         <assert test="local-name() = 'seriesStmt'">The element seriesStmt is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:soundChan">
         <assert test="local-name() = 'soundChan'">The element soundChan is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:source">
         <assert test="local-name() = 'source'">The element source is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:sourceDesc">
         <assert test="local-name() = 'sourceDesc'">The element sourceDesc is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:specRepro">
         <assert test="local-name() = 'specRepro'">The element specRepro is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:stdVals">
         <assert test="local-name() = 'stdVals'">The element stdVals is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:sysReq">
         <assert test="local-name() = 'sysReq'">The element sysReq is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:tapeConfig">
         <assert test="local-name() = 'tapeConfig'">The element tapeConfig is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:term">
         <assert test="local-name() = 'term'">The element term is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:termList">
         <assert test="local-name() = 'termList'">The element termList is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:titleStmt">
         <assert test="local-name() = 'titleStmt'">The element titleStmt is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:treatHist">
         <assert test="local-name() = 'treatHist'">The element treatHist is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:treatSched">
         <assert test="local-name() = 'treatSched'">The element treatSched is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:unpub">
         <assert test="local-name() = 'unpub'">The element unpub is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:useRestrict">
         <assert test="local-name() = 'useRestrict'">The element useRestrict is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:watermark">
         <assert test="local-name() = 'watermark'">The element watermark is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:work">
         <assert test="local-name() = 'work'">The element work is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:workDesc">
         <assert test="local-name() = 'workDesc'">The element workDesc is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:arpeg">
         <assert test="local-name() = 'arpeg'">The element arpeg is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:beamSpan">
         <assert test="local-name() = 'beamSpan'">The element beamSpan is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:beatRpt">
         <assert test="local-name() = 'beatRpt'">The element beatRpt is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:bend">
         <assert test="local-name() = 'bend'">The element bend is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:breath">
         <assert test="local-name() = 'breath'">The element breath is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:bTrem">
         <assert test="local-name() = 'bTrem'">The element bTrem is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:fermata">
         <assert test="local-name() = 'fermata'">The element fermata is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:fTrem">
         <assert test="local-name() = 'fTrem'">The element fTrem is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:gliss">
         <assert test="local-name() = 'gliss'">The element gliss is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:hairpin">
         <assert test="local-name() = 'hairpin'">The element hairpin is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:halfmRpt">
         <assert test="local-name() = 'halfmRpt'">The element halfmRpt is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:harpPedal">
         <assert test="local-name() = 'harpPedal'">The element harpPedal is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:measure">
         <assert test="local-name() = 'measure'">The element measure is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:meterSig">
         <assert test="local-name() = 'meterSig'">The element meterSig is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:meterSigGrp">
         <assert test="local-name() = 'meterSigGrp'">The element meterSigGrp is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:mRest">
         <assert test="local-name() = 'mRest'">The element mRest is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:mRpt">
         <assert test="local-name() = 'mRpt'">The element mRpt is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:mRpt2">
         <assert test="local-name() = 'mRpt2'">The element mRpt2 is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:mSpace">
         <assert test="local-name() = 'mSpace'">The element mSpace is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:multiRest">
         <assert test="local-name() = 'multiRest'">The element multiRest is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:multiRpt">
         <assert test="local-name() = 'multiRpt'">The element multiRpt is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:octave">
         <assert test="local-name() = 'octave'">The element octave is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:ossia">
         <assert test="local-name() = 'ossia'">The element ossia is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:pedal">
         <assert test="local-name() = 'pedal'">The element pedal is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:reh">
         <assert test="local-name() = 'reh'">The element reh is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:slur">
         <assert test="local-name() = 'slur'">The element slur is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:tie">
         <assert test="local-name() = 'tie'">The element tie is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:tuplet">
         <assert test="local-name() = 'tuplet'">The element tuplet is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:tupletSpan">
         <assert test="local-name() = 'tupletSpan'">The element tupletSpan is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:ligature">
         <assert test="local-name() = 'ligature'">The element ligature is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:mensur">
         <assert test="local-name() = 'mensur'">The element mensur is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:proport">
         <assert test="local-name() = 'proport'">The element proport is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:ineume">
         <assert test="local-name() = 'ineume'">The element ineume is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:syllable">
         <assert test="local-name() = 'syllable'">The element syllable is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:uneume">
         <assert test="local-name() = 'uneume'">The element uneume is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:mordent">
         <assert test="local-name() = 'mordent'">The element mordent is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:trill">
         <assert test="local-name() = 'trill'">The element trill is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:turn">
         <assert test="local-name() = 'turn'">The element turn is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:meiCorpus">
         <assert test="local-name() = 'meiCorpus'">The element meiCorpus is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:lem">
         <assert test="local-name() = 'lem'">The element lem is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:rdg">
         <assert test="local-name() = 'rdg'">The element rdg is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:abbr">
         <assert test="local-name() = 'abbr'">The element abbr is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:add">
         <assert test="local-name() = 'add'">The element add is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:choice">
         <assert test="local-name() = 'choice'">The element choice is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:corr">
         <assert test="local-name() = 'corr'">The element corr is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:damage">
         <assert test="local-name() = 'damage'">The element damage is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:del">
         <assert test="local-name() = 'del'">The element del is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:expan">
         <assert test="local-name() = 'expan'">The element expan is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:gap">
         <assert test="local-name() = 'gap'">The element gap is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:handShift">
         <assert test="local-name() = 'handShift'">The element handShift is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:orig">
         <assert test="local-name() = 'orig'">The element orig is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:reg">
         <assert test="local-name() = 'reg'">The element reg is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:restore">
         <assert test="local-name() = 'restore'">The element restore is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:sic">
         <assert test="local-name() = 'sic'">The element sic is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:subst">
         <assert test="local-name() = 'subst'">The element subst is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:supplied">
         <assert test="local-name() = 'supplied'">The element supplied is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:unclear">
         <assert test="local-name() = 'unclear'">The element unclear is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:facsimile">
         <assert test="local-name() = 'facsimile'">The element facsimile is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:surface">
         <assert test="local-name() = 'surface'">The element surface is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:zone">
         <assert test="local-name() = 'zone'">The element zone is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:fig">
         <assert test="local-name() = 'fig'">The element fig is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:figDesc">
         <assert test="local-name() = 'figDesc'">The element figDesc is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:graphic">
         <assert test="local-name() = 'graphic'">The element graphic is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:table">
         <assert test="local-name() = 'table'">The element table is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:td">
         <assert test="local-name() = 'td'">The element td is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:th">
         <assert test="local-name() = 'th'">The element th is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:tr">
         <assert test="local-name() = 'tr'">The element tr is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:barre">
         <assert test="local-name() = 'barre'">The element barre is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:chordDef">
         <assert test="local-name() = 'chordDef'">The element chordDef is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:chordMember">
         <assert test="local-name() = 'chordMember'">The element chordMember is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:chordTable">
         <assert test="local-name() = 'chordTable'">The element chordTable is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:f">
         <assert test="local-name() = 'f'">The element f is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:fb">
         <assert test="local-name() = 'fb'">The element fb is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:harm">
         <assert test="local-name() = 'harm'">The element harm is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:timeline">
         <assert test="local-name() = 'timeline'">The element timeline is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:when">
         <assert test="local-name() = 'when'">The element when is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:lyrics">
         <assert test="local-name() = 'lyrics'">The element lyrics is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:verse">
         <assert test="local-name() = 'verse'">The element verse is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:cc">
         <assert test="local-name() = 'cc'">The element cc is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:chan">
         <assert test="local-name() = 'chan'">The element chan is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:chanPr">
         <assert test="local-name() = 'chanPr'">The element chanPr is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:cue">
         <assert test="local-name() = 'cue'">The element cue is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:hex">
         <assert test="local-name() = 'hex'">The element hex is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:instrDef">
         <assert test="local-name() = 'instrDef'">The element instrDef is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:instrGrp">
         <assert test="local-name() = 'instrGrp'">The element instrGrp is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:marker">
         <assert test="local-name() = 'marker'">The element marker is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:metaText">
         <assert test="local-name() = 'metaText'">The element metaText is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:midi">
         <assert test="local-name() = 'midi'">The element midi is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:noteOff">
         <assert test="local-name() = 'noteOff'">The element noteOff is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:noteOn">
         <assert test="local-name() = 'noteOn'">The element noteOn is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:port">
         <assert test="local-name() = 'port'">The element port is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:prog">
         <assert test="local-name() = 'prog'">The element prog is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:seqNum">
         <assert test="local-name() = 'seqNum'">The element seqNum is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:trkName">
         <assert test="local-name() = 'trkName'">The element trkName is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:vel">
         <assert test="local-name() = 'vel'">The element vel is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:corpName">
         <assert test="local-name() = 'corpName'">The element corpName is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:geogName">
         <assert test="local-name() = 'geogName'">The element geogName is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:periodName">
         <assert test="local-name() = 'periodName'">The element periodName is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:persName">
         <assert test="local-name() = 'persName'">The element persName is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:styleName">
         <assert test="local-name() = 'styleName'">The element styleName is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:avFile">
         <assert test="local-name() = 'avFile'">The element avFile is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:clip">
         <assert test="local-name() = 'clip'">The element clip is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:performance">
         <assert test="local-name() = 'performance'">The element performance is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:recording">
         <assert test="local-name() = 'recording'">The element recording is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:ptr">
         <assert test="local-name() = 'ptr'">The element ptr is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:ref">
         <assert test="local-name() = 'ref'">The element ref is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:back">
         <assert test="local-name() = 'back'">The element back is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:div">
         <assert test="local-name() = 'div'">The element div is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:front">
         <assert test="local-name() = 'front'">The element front is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:head">
         <assert test="local-name() = 'head'">The element head is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:l">
         <assert test="local-name() = 'l'">The element l is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:lg">
         <assert test="local-name() = 'lg'">The element lg is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:li">
         <assert test="local-name() = 'li'">The element li is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:list">
         <assert test="local-name() = 'list'">The element list is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:quote">
         <assert test="local-name() = 'quote'">The element quote is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:anchoredText">
         <assert test="local-name() = 'anchoredText'">The element anchoredText is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:curve">
         <assert test="local-name() = 'curve'">The element curve is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:line">
         <assert test="local-name() = 'line'">The element line is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:symbol">
         <assert test="local-name() = 'symbol'">The element symbol is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:symbolDef">
         <assert test="local-name() = 'symbolDef'">The element symbolDef is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:symbolTable">
         <assert test="local-name() = 'symbolTable'">The element symbolTable is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:pages">
         <assert test="local-name() = 'pages'">The element pages is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:page">
         <assert test="local-name() = 'page'">The element page is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:system">
         <assert test="local-name() = 'system'">The element system is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:secb">
         <assert test="local-name() = 'secb'">The element secb is currently not supported by Verovio.</assert>
      </rule>
   </pattern>
</schema>
