mei/2013-11-05/Test.sch

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2">
   <ns uri="http://www.music-encoding.org/ns/mei" prefix="mei"/>
   <pattern>
      <rule context="mei:accid">
         <assert test="1 = 2">The element accid is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:actor">
         <assert test="1 = 2">The element actor is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:address">
         <assert test="1 = 2">The element address is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:addrLine">
         <assert test="1 = 2">The element addrLine is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:annot">
         <assert test="1 = 2">The element annot is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:arranger">
         <assert test="1 = 2">The element arranger is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:artic">
         <assert test="1 = 2">The element artic is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:author">
         <assert test="1 = 2">The element author is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:bibl">
         <assert test="1 = 2">The element bibl is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:biblList">
         <assert test="1 = 2">The element biblList is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:biblScope">
         <assert test="1 = 2">The element biblScope is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:body">
         <assert test="1 = 2">The element body is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:caption">
         <assert test="1 = 2">The element caption is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:castGrp">
         <assert test="1 = 2">The element castGrp is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:castItem">
         <assert test="1 = 2">The element castItem is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:castList">
         <assert test="1 = 2">The element castList is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:chord">
         <assert test="1 = 2">The element chord is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:clef">
         <assert test="1 = 2">The element clef is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:clefGrp">
         <assert test="1 = 2">The element clefGrp is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:composer">
         <assert test="1 = 2">The element composer is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:creation">
         <assert test="1 = 2">The element creation is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:custos">
         <assert test="1 = 2">The element custos is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:date">
         <assert test="1 = 2">The element date is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:dir">
         <assert test="1 = 2">The element dir is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:distributor">
         <assert test="1 = 2">The element distributor is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:dot">
         <assert test="1 = 2">The element dot is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:dynam">
         <assert test="1 = 2">The element dynam is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:edition">
         <assert test="1 = 2">The element edition is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:editor">
         <assert test="1 = 2">The element editor is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:ending">
         <assert test="1 = 2">The element ending is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:expansion">
         <assert test="1 = 2">The element expansion is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:extent">
         <assert test="1 = 2">The element extent is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:funder">
         <assert test="1 = 2">The element funder is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:fw">
         <assert test="1 = 2">The element fw is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:genre">
         <assert test="1 = 2">The element genre is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:group">
         <assert test="1 = 2">The element group is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:grpSym">
         <assert test="1 = 2">The element grpSym is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:identifier">
         <assert test="1 = 2">The element identifier is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:imprint">
         <assert test="1 = 2">The element imprint is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:incip">
         <assert test="1 = 2">The element incip is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:keyAccid">
         <assert test="1 = 2">The element keyAccid is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:keySig">
         <assert test="1 = 2">The element keySig is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:label">
         <assert test="1 = 2">The element label is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:layer">
         <assert test="1 = 2">The element layer is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:layerDef">
         <assert test="1 = 2">The element layerDef is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:lb">
         <assert test="1 = 2">The element lb is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:librettist">
         <assert test="1 = 2">The element librettist is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:lyricist">
         <assert test="1 = 2">The element lyricist is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:mdiv">
         <assert test="1 = 2">The element mdiv is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:mei">
         <assert test="1 = 2">The element mei is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:music">
         <assert test="1 = 2">The element music is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:name">
         <assert test="1 = 2">The element name is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:num">
         <assert test="1 = 2">The element num is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:p">
         <assert test="1 = 2">The element p is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:pad">
         <assert test="1 = 2">The element pad is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:part">
         <assert test="1 = 2">The element part is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:parts">
         <assert test="1 = 2">The element parts is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:pb">
         <assert test="1 = 2">The element pb is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:pgDesc">
         <assert test="1 = 2">The element pgDesc is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:pgFoot">
         <assert test="1 = 2">The element pgFoot is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:pgFoot2">
         <assert test="1 = 2">The element pgFoot2 is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:pgHead">
         <assert test="1 = 2">The element pgHead is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:pgHead2">
         <assert test="1 = 2">The element pgHead2 is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:phrase">
         <assert test="1 = 2">The element phrase is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:physLoc">
         <assert test="1 = 2">The element physLoc is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:publisher">
         <assert test="1 = 2">The element publisher is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:pubPlace">
         <assert test="1 = 2">The element pubPlace is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:recipient">
         <assert test="1 = 2">The element recipient is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:relatedItem">
         <assert test="1 = 2">The element relatedItem is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:rend">
         <assert test="1 = 2">The element rend is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:repository">
         <assert test="1 = 2">The element repository is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:resp">
         <assert test="1 = 2">The element resp is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:respStmt">
         <assert test="1 = 2">The element respStmt is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:rest">
         <assert test="1 = 2">The element rest is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:role">
         <assert test="1 = 2">The element role is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:roleDesc">
         <assert test="1 = 2">The element roleDesc is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:sb">
         <assert test="1 = 2">The element sb is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:score">
         <assert test="1 = 2">The element score is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:scoreDef">
         <assert test="1 = 2">The element scoreDef is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:section">
         <assert test="1 = 2">The element section is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:series">
         <assert test="1 = 2">The element series is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:space">
         <assert test="1 = 2">The element space is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:sponsor">
         <assert test="1 = 2">The element sponsor is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:stack">
         <assert test="1 = 2">The element stack is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:staff">
         <assert test="1 = 2">The element staff is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:staffDef">
         <assert test="1 = 2">The element staffDef is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:staffGrp">
         <assert test="1 = 2">The element staffGrp is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:syl">
         <assert test="1 = 2">The element syl is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:tempo">
         <assert test="1 = 2">The element tempo is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:textLang">
         <assert test="1 = 2">The element textLang is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:title">
         <assert test="1 = 2">The element title is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:titlePage">
         <assert test="1 = 2">The element titlePage is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:accessRestrict">
         <assert test="1 = 2">The element accessRestrict is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:acqSource">
         <assert test="1 = 2">The element acqSource is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:altId">
         <assert test="1 = 2">The element altId is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:appInfo">
         <assert test="1 = 2">The element appInfo is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:application">
         <assert test="1 = 2">The element application is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:audience">
         <assert test="1 = 2">The element audience is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:availability">
         <assert test="1 = 2">The element availability is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:captureMode">
         <assert test="1 = 2">The element captureMode is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:carrierForm">
         <assert test="1 = 2">The element carrierForm is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:change">
         <assert test="1 = 2">The element change is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:changeDesc">
         <assert test="1 = 2">The element changeDesc is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:classCode">
         <assert test="1 = 2">The element classCode is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:classification">
         <assert test="1 = 2">The element classification is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:condition">
         <assert test="1 = 2">The element condition is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:contentItem">
         <assert test="1 = 2">The element contentItem is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:contents">
         <assert test="1 = 2">The element contents is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:context">
         <assert test="1 = 2">The element context is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:correction">
         <assert test="1 = 2">The element correction is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:dimensions">
         <assert test="1 = 2">The element dimensions is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:editionStmt">
         <assert test="1 = 2">The element editionStmt is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:editorialDecl">
         <assert test="1 = 2">The element editorialDecl is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:encodingDesc">
         <assert test="1 = 2">The element encodingDesc is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:ensemble">
         <assert test="1 = 2">The element ensemble is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:event">
         <assert test="1 = 2">The element event is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:eventList">
         <assert test="1 = 2">The element eventList is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:exhibHist">
         <assert test="1 = 2">The element exhibHist is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:fileChar">
         <assert test="1 = 2">The element fileChar is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:fileDesc">
         <assert test="1 = 2">The element fileDesc is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:fingerprint">
         <assert test="1 = 2">The element fingerprint is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:hand">
         <assert test="1 = 2">The element hand is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:handList">
         <assert test="1 = 2">The element handList is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:history">
         <assert test="1 = 2">The element history is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:incipCode">
         <assert test="1 = 2">The element incipCode is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:incipText">
         <assert test="1 = 2">The element incipText is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:inscription">
         <assert test="1 = 2">The element inscription is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:instrumentation">
         <assert test="1 = 2">The element instrumentation is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:instrVoice">
         <assert test="1 = 2">The element instrVoice is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:instrVoiceGrp">
         <assert test="1 = 2">The element instrVoiceGrp is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:interpretation">
         <assert test="1 = 2">The element interpretation is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:key">
         <assert test="1 = 2">The element key is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:language">
         <assert test="1 = 2">The element language is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:langUsage">
         <assert test="1 = 2">The element langUsage is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:meiHead">
         <assert test="1 = 2">The element meiHead is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:mensuration">
         <assert test="1 = 2">The element mensuration is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:meter">
         <assert test="1 = 2">The element meter is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:normalization">
         <assert test="1 = 2">The element normalization is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:notesStmt">
         <assert test="1 = 2">The element notesStmt is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:otherChar">
         <assert test="1 = 2">The element otherChar is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:perfMedium">
         <assert test="1 = 2">The element perfMedium is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:physDesc">
         <assert test="1 = 2">The element physDesc is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:physMedium">
         <assert test="1 = 2">The element physMedium is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:plateNum">
         <assert test="1 = 2">The element plateNum is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:playingSpeed">
         <assert test="1 = 2">The element playingSpeed is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:price">
         <assert test="1 = 2">The element price is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:projectDesc">
         <assert test="1 = 2">The element projectDesc is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:provenance">
         <assert test="1 = 2">The element provenance is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:pubStmt">
         <assert test="1 = 2">The element pubStmt is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:revisionDesc">
         <assert test="1 = 2">The element revisionDesc is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:samplingDecl">
         <assert test="1 = 2">The element samplingDecl is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:scoreFormat">
         <assert test="1 = 2">The element scoreFormat is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:segmentation">
         <assert test="1 = 2">The element segmentation is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:seriesStmt">
         <assert test="1 = 2">The element seriesStmt is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:soundChan">
         <assert test="1 = 2">The element soundChan is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:source">
         <assert test="1 = 2">The element source is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:sourceDesc">
         <assert test="1 = 2">The element sourceDesc is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:specRepro">
         <assert test="1 = 2">The element specRepro is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:stdVals">
         <assert test="1 = 2">The element stdVals is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:sysReq">
         <assert test="1 = 2">The element sysReq is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:tapeConfig">
         <assert test="1 = 2">The element tapeConfig is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:term">
         <assert test="1 = 2">The element term is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:termList">
         <assert test="1 = 2">The element termList is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:titleStmt">
         <assert test="1 = 2">The element titleStmt is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:treatHist">
         <assert test="1 = 2">The element treatHist is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:treatSched">
         <assert test="1 = 2">The element treatSched is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:unpub">
         <assert test="1 = 2">The element unpub is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:useRestrict">
         <assert test="1 = 2">The element useRestrict is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:watermark">
         <assert test="1 = 2">The element watermark is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:work">
         <assert test="1 = 2">The element work is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:workDesc">
         <assert test="1 = 2">The element workDesc is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:arpeg">
         <assert test="1 = 2">The element arpeg is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:beamSpan">
         <assert test="1 = 2">The element beamSpan is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:beatRpt">
         <assert test="1 = 2">The element beatRpt is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:bend">
         <assert test="1 = 2">The element bend is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:breath">
         <assert test="1 = 2">The element breath is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:bTrem">
         <assert test="1 = 2">The element bTrem is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:fermata">
         <assert test="1 = 2">The element fermata is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:fTrem">
         <assert test="1 = 2">The element fTrem is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:gliss">
         <assert test="1 = 2">The element gliss is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:hairpin">
         <assert test="1 = 2">The element hairpin is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:halfmRpt">
         <assert test="1 = 2">The element halfmRpt is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:harpPedal">
         <assert test="1 = 2">The element harpPedal is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:measure">
         <assert test="1 = 2">The element measure is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:meterSig">
         <assert test="1 = 2">The element meterSig is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:meterSigGrp">
         <assert test="1 = 2">The element meterSigGrp is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:mRest">
         <assert test="1 = 2">The element mRest is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:mRpt">
         <assert test="1 = 2">The element mRpt is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:mRpt2">
         <assert test="1 = 2">The element mRpt2 is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:mSpace">
         <assert test="1 = 2">The element mSpace is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:multiRest">
         <assert test="1 = 2">The element multiRest is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:multiRpt">
         <assert test="1 = 2">The element multiRpt is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:octave">
         <assert test="1 = 2">The element octave is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:ossia">
         <assert test="1 = 2">The element ossia is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:pedal">
         <assert test="1 = 2">The element pedal is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:reh">
         <assert test="1 = 2">The element reh is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:slur">
         <assert test="1 = 2">The element slur is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:tie">
         <assert test="1 = 2">The element tie is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:tuplet">
         <assert test="1 = 2">The element tuplet is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:tupletSpan">
         <assert test="1 = 2">The element tupletSpan is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:ligature">
         <assert test="1 = 2">The element ligature is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:mensur">
         <assert test="1 = 2">The element mensur is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:proport">
         <assert test="1 = 2">The element proport is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:ineume">
         <assert test="1 = 2">The element ineume is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:syllable">
         <assert test="1 = 2">The element syllable is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:uneume">
         <assert test="1 = 2">The element uneume is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:mordent">
         <assert test="1 = 2">The element mordent is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:trill">
         <assert test="1 = 2">The element trill is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:turn">
         <assert test="1 = 2">The element turn is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:meiCorpus">
         <assert test="1 = 2">The element meiCorpus is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:lem">
         <assert test="1 = 2">The element lem is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:rdg">
         <assert test="1 = 2">The element rdg is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:abbr">
         <assert test="1 = 2">The element abbr is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:add">
         <assert test="1 = 2">The element add is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:choice">
         <assert test="1 = 2">The element choice is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:corr">
         <assert test="1 = 2">The element corr is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:damage">
         <assert test="1 = 2">The element damage is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:del">
         <assert test="1 = 2">The element del is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:expan">
         <assert test="1 = 2">The element expan is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:gap">
         <assert test="1 = 2">The element gap is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:handShift">
         <assert test="1 = 2">The element handShift is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:orig">
         <assert test="1 = 2">The element orig is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:reg">
         <assert test="1 = 2">The element reg is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:restore">
         <assert test="1 = 2">The element restore is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:sic">
         <assert test="1 = 2">The element sic is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:subst">
         <assert test="1 = 2">The element subst is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:supplied">
         <assert test="1 = 2">The element supplied is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:unclear">
         <assert test="1 = 2">The element unclear is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:facsimile">
         <assert test="1 = 2">The element facsimile is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:surface">
         <assert test="1 = 2">The element surface is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:zone">
         <assert test="1 = 2">The element zone is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:fig">
         <assert test="1 = 2">The element fig is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:figDesc">
         <assert test="1 = 2">The element figDesc is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:graphic">
         <assert test="1 = 2">The element graphic is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:table">
         <assert test="1 = 2">The element table is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:td">
         <assert test="1 = 2">The element td is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:th">
         <assert test="1 = 2">The element th is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:tr">
         <assert test="1 = 2">The element tr is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:barre">
         <assert test="1 = 2">The element barre is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:chordDef">
         <assert test="1 = 2">The element chordDef is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:chordMember">
         <assert test="1 = 2">The element chordMember is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:chordTable">
         <assert test="1 = 2">The element chordTable is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:f">
         <assert test="1 = 2">The element f is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:fb">
         <assert test="1 = 2">The element fb is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:harm">
         <assert test="1 = 2">The element harm is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:timeline">
         <assert test="1 = 2">The element timeline is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:when">
         <assert test="1 = 2">The element when is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:lyrics">
         <assert test="1 = 2">The element lyrics is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:verse">
         <assert test="1 = 2">The element verse is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:cc">
         <assert test="1 = 2">The element cc is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:chan">
         <assert test="1 = 2">The element chan is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:chanPr">
         <assert test="1 = 2">The element chanPr is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:cue">
         <assert test="1 = 2">The element cue is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:hex">
         <assert test="1 = 2">The element hex is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:instrDef">
         <assert test="1 = 2">The element instrDef is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:instrGrp">
         <assert test="1 = 2">The element instrGrp is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:marker">
         <assert test="1 = 2">The element marker is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:metaText">
         <assert test="1 = 2">The element metaText is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:midi">
         <assert test="1 = 2">The element midi is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:noteOff">
         <assert test="1 = 2">The element noteOff is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:noteOn">
         <assert test="1 = 2">The element noteOn is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:port">
         <assert test="1 = 2">The element port is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:prog">
         <assert test="1 = 2">The element prog is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:seqNum">
         <assert test="1 = 2">The element seqNum is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:trkName">
         <assert test="1 = 2">The element trkName is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:vel">
         <assert test="1 = 2">The element vel is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:corpName">
         <assert test="1 = 2">The element corpName is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:geogName">
         <assert test="1 = 2">The element geogName is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:periodName">
         <assert test="1 = 2">The element periodName is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:persName">
         <assert test="1 = 2">The element persName is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:styleName">
         <assert test="1 = 2">The element styleName is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:avFile">
         <assert test="1 = 2">The element avFile is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:clip">
         <assert test="1 = 2">The element clip is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:performance">
         <assert test="1 = 2">The element performance is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:recording">
         <assert test="1 = 2">The element recording is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:ptr">
         <assert test="1 = 2">The element ptr is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:ref">
         <assert test="1 = 2">The element ref is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:back">
         <assert test="1 = 2">The element back is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:div">
         <assert test="1 = 2">The element div is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:front">
         <assert test="1 = 2">The element front is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:head">
         <assert test="1 = 2">The element head is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:l">
         <assert test="1 = 2">The element l is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:lg">
         <assert test="1 = 2">The element lg is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:li">
         <assert test="1 = 2">The element li is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:list">
         <assert test="1 = 2">The element list is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:quote">
         <assert test="1 = 2">The element quote is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:anchoredText">
         <assert test="1 = 2">The element anchoredText is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:curve">
         <assert test="1 = 2">The element curve is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:line">
         <assert test="1 = 2">The element line is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:symbol">
         <assert test="1 = 2">The element symbol is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:symbolDef">
         <assert test="1 = 2">The element symbolDef is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:symbolTable">
         <assert test="1 = 2">The element symbolTable is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:pages">
         <assert test="1 = 2">The element pages is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:page">
         <assert test="1 = 2">The element page is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:system">
         <assert test="1 = 2">The element system is currently not supported by Verovio.</assert>
      </rule>
      <rule context="mei:secb">
         <assert test="1 = 2">The element secb is currently not supported by Verovio.</assert>
      </rule>
   </pattern>
</schema>
